
<button type="submit"
        ng-click="list()"
        class="btn btn-info btn-sm">返回模块列表</button>

<h2>{(module.name[0] | jhiModuleFilter)}</h2>

<i><p>作者 <a href="{(module.npminfo.author.url)}" target="_blank">{(module.npminfo.author.name)}</a>(<a href="https://www.npmjs.com/~{(module.npminfo._npmUser.name)}" target="_blank">{(module.npminfo._npmUser.name)}</a>)</i>
<p>
    最新版本: {(module.npminfo.version)}
</p>
<p ng-if="!readmeFile">
{(module.npminfo.description)}
</p>

<h3>JHipster 版本兼容性</h3>
<p>
    这个模块适用的 JHipster 版本为: <b>{(module.npminfo.dependencies['generator-jhipster'])}</b>
</p>

<h3>相关连接</h3>
<ul>
    <li><a href="{(module.npminfo.homepage)}" target="_blank">项目 URL</a></li>
    <li><a href="https://www.npmjs.com/package/{(npmPackageName)}" target="_blank">NPM 主页</a></li>
</ul>
<div ng-if="!readmeFile">
	<h3>如何安装</h3>
	<pre>npm install -g {(npmPackageName)}</pre>
</div>
<hr>
<div btf-markdown="readmeFile"></div>
<hr>
<h3>月下载量统计</h3>

<div id="chart"></div>
