<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>JHipster 幻灯片</title>

        <meta name="description" content="Hipster stack for Java developers. Yeoman + Spring + AngularJS in one handy generator.">
        <meta name="author" content="Julien Dubois">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/default.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">

                <section>
                    <h2>欢迎, Java Hipster</h2>
                    <img src="images/logo-jhipster-drink-coffee.png" class="jhipster-logo"/>
                    <h3>Yeoman + Spring + AngularJS 集成为一个方便的代码生成工具</h3>
                    <p>
                        <a href="http://jhipster.github.io">http://jhipster.github.io</a>
                    </p>
                    <p>
                        按右箭头键继续 &gt;
                    </p>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide">
                    <h1>关于本幻灯片</h1>
                    <ul>
                        <li>使用左/右箭头键切换主要章节</li>
                        <li>使用上/下箭头键切换每个章节中的子页面</li>
                        <li>按 "esc" 键可以预览所有页面</li>
                    </ul>
                </section>

                <section>
                    <section data-background="#4d7e65" data-background-transition="slide">
                        <h1>这到底是用来干嘛的？</h1>
                        <h3>开发现代的web应用</h3>
                    </section>
                    <section>
                        <h2>现代的 Web 应用程序</h2>
                        <p>终端用户的需求在不断变化。人们已经厌倦了响应慢，交互差的网站。他们想要的是：</p>
                        <ul>
                            <li>页面设计美观大方</li>
                            <li>无需等待页面加载</li>
                            <li>页面局部动态刷新</li>
                        </ul>
                        <hr/>
                        <h3><i>我们需要最新的 HTML5/CSS3/JavaScript 技术</i></h3>
                    </section>
                    <section>
                        <h2>开发效率</h2>
                        <p>我们网站的发布速度需要 <i>更快</i>.</p>
                        <p>哪怕是 1 分钟的“部署”等待时间也是不可接受的</p>
                        <hr/>
                        <h3><i>我们需要正确的工具！</i></h3>
                    </section>
                    <section>
                        <h2>生产环境就绪的软件</h2>
                        <p>现代网站应该能够处理 <i>海量</i> 的并发用户</p>
                        <p>大量的RESTful应用访问, 将对你的后端服务器带来<b>很大</b>的挑战 </p>
                        <hr/>
                        <h3><i>我们需要强大可扩展的高性能服务器</i></h3>
                    </section>
                    <section>
                        <h3><i>我们的目标是解决这些问题</i></h3>
                        <hr/>
                        <ul>
                            <li>一个漂亮的前端，集成最新的 HTML5/CSS3/JavaScript 框架</li>
                            <li>一个强大高质量的后端，结合最新的 java/缓存/数据访问 技术</li>
                            <li>所有的这些都能自动集成在一起，并考虑安全与性能等方面的优化</li>
                            <li>强大的开发工具，用来最大化开发效率</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section data-background="#4d7e65" data-background-transition="slide">
                        <h1>客户端技术</h1>
                        <h3>Yeoman, Gulp, Bower, AngularJS, Bootstrap</h3>
                    </section>
                    <section>
                        <h1>Yeoman</h1>
                        <h3>Yeoman 做为应用的 <i>生成工具</i></h3>
                        <ul>
                            <li>数百个生成工具可以利用</li>
                            <li>主要面向 JavaScript 前端应用程序</li>
                            <li>好评率高的生成工具质量可靠</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>yo jhipster</code>
                        </pre>
                    </section>
                    <section>
                        <h1>Gulp</h1>
                        <h3>Gulp 是一个 JavaScript 任务管理工具</h3>
                        <ul>
                            <li>开发环境下, 它可以让你实时的编辑代码，同时在后台运行测试用例...</li>
                            <li>生产环境下, 它可以压缩和优化所有的资源文件，编译你的 Sass 代码等...</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>gulp test</code>
                        </pre>
                    </section>
                    <section>
                        <h1>Bower</h1>
                        <h3>Bower 是一个 JavaScript 包管理工具</h3>
                        <ul>
                            <li>你可以搜索，安装和更新用到的 JavaScript 库</li>
                            <li>它提供了 <i>大量</i> 的第三方库</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>bower install angular</code>
                        </pre>
                    </section>
                    <section>
                        <h1>Karma</h1>
                        <h3>Karma 用于运行 JavaScript 的单元测试</h3>
                        <ul>
                            <li>它可以运行于 <i>Phantom.js</i> , 一个 headless 的浏览器</li>
                            <li>它 <i>非常的</i> 快, 而且可以持续的在后台运行</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>karma start src/test/javascript/karma.conf.js</code>
                        </pre>
                    </section>
                    <section>
                        <h1>AngularJS</h1>
                        <h3>最流行的 JavaScript 框架</h3>
                        <ul>
                            <li>强大 &amp; 容易学习</li>
                            <li>数据绑定, 表单验证, i18n... 这些都是开箱即用的</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
<input type="text" ng-model="yourName" placeholder="Enter a name here">
<h1>Hello {{yourName}}!</h1>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Twitter Bootstrap</h1>
                        <h3>强大的响应式 CSS/JavaScript web 框架</h3>
                        <ul>
                            <li>使用常见的CSS和HTML元素</li>
                            <li>大量的 JavaScript 组件: 菜单, 导航, 下拉菜单, 提示消息...</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
<div class="alert alert-success">
    <strong>Hello, world!</strong>
</div>
                            </code>
                        </pre>
                    </section>
                </section>

                <section>
                    <section data-background="#4d7e65" data-background-transition="slide">
                        <h1>服务器端技术</h1>
                        <h3>Maven, Spring, Spring MVC REST, Spring Data JPA, Netflix OSS</h3>
                    </section>
                    <section>
                        <h1>Maven | Gradle</h1>
                        <h3>最流行的Java构建工具</h3>
                        <ul>
                            <li>预定义的代码目录和构建目标</li>
                            <li>集成了主流的 IDEs</li>
                            <li>强大的插件系统, 包括 Spring Boot 和 Yeoman</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
./mvnw spring-boot:run
                            </code>
                            <code data-trim contenteditable>
./gradlew bootRun
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Spring Boot</h1>
                        <h3>Spring 是 java 应用程序事实上的标准</h3>
                        <ul>
                            <li>IoC, AOP 和抽象层简化应用编程</li>
                            <li>快速, 轻量,  <i>需要的时候</i> 也可以变的很强大</li>
                            <li>Spring Boot 提供开箱即用的配置</li>
                            <li>应用程序热加载功能</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
@Service
@Transactional
public class UserService {

    @Inject
    private UserRepository userRepository;

}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Netflix OSS</h1>
                        <h3>Netflix OSS 提供开发微服务的工具和框架</h3>
                        <ul>
                            <li>Eureka - 服务注册功能可用于实现负载均衡和故障恢复</li>
                            <li>Zuul - 代理功能实现动态路由，监控和安全</li>
                            <li>Ribbon - 用软件实现服务的负载均衡</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Liquibase</h1>
                        <h3>数据库更新变的更加容易</h3>
                        <ul>
                            <li>处理数据库 schema 的更新</li>
                            <li>很好的支持 Spring 和 JPA</li>
                            <li>需要对 数据库和 ORM 有良好的理解</li>
                        </ul>
                    </section>
                    <section>
                        <h1>JPA</h1>
                        <h3>Java 技术栈标准的 ORM 解决方案</h3>
                        <ul>
                            <li>默认支持 Hibernate</li>
                            <li>非常完整，令人印象深刻的一套功能</li>
                            <li>对于新手理解起来可能还是有点复杂</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
@Entity
public class User implements Serializable {

    @Id
    private String login;

}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Spring Data JPA</h1>
                        <h3>在 JPA 的基础上提供了更多的语法糖</h3>
                        <ul>
                            <li><i>自动</i>为你生成 JPA repositories 代码</li>
                            <li>移除了大量的样板代码</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
public interface PersistenceAuditEventRepository extends JpaRepository&lt;PersistentAuditEvent, String&gt; {

    List&lt;PersistentAuditEvent&gt;
        findByPrincipalAndAuditEventDateGreaterThan(String principal, LocalDateTime after);

}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>MongoDB</h1>
                        <h3>NoSQL 提供可扩展性</h3>
                        <ul>
                            <li>SQL 数据库和 JPA 之外的其他选择</li>
                            <li>相似的代码: Spring Data MongoDB 与 Spring Data JPA</li>
                            <li>更具可扩展性，更容易使用</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Cassandra</h1>
                        <h3>NoSQL 提供可扩展性</h3>
                        <ul>
                            <li>SQL 数据库和 JPA 之外的第二种选择</li>
                            <li>线性可扩展性和高可用性</li>
                            <li>系统关键任务的高性能和低延迟</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Caching</h1>
                        <h3>缓存是提高性能的王道</h3>
                        <ul>
                            <li>Ehcache 是最广泛使用的解决方案</li>
                            <li>HazelCast 是另一个不错的选择，支持集群</li>
                            <li>Hibernate 二级缓存或者 Spring 缓存抽象层</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
@Entity
@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
public class User implements Serializable {

}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Spring 安全</h1>
                        <h3>防弹安全框架</h3>
                        <ul>
                            <li>领先的工具，广泛应用于各个行业</li>
                            <li>保护 URLs 和 Java 代码 (Spring Beans)</li>
                            <li>同时支持有状态 (cookies) 或者无状态 (OAuth2/JWT) 的 web 应用架构</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Spring MVC REST</h1>
                        <h3>Java 中最好的 REST 框架</h3>
                        <ul>
                            <li>完整的，高性能的 REST 解决方案</li>
                            <li>良好的 Spring 支持, 良好的测试支持</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
@RestController
public class AccountResource {
    @RequestMapping(value = "/app/rest/account",
            method = RequestMethod.POST)
    public void saveAccount(@RequestBody UserDTO userDTO) {
        userService.updateUserInformation(userDTO);
    }
}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>Thymeleaf</h1>
                        <h3>服务端模版引擎</h3>
                        <ul>
                            <li>当单页面应用不能满足你的需求的时候</li>
                            <li>替代了 JSPs 和 JSTLs这些过时的技术</li>
                            <li>面向设计师的优秀模版</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
<h1 th:text="#{title}">Hello, world</h1>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>系统监控</h1>
                        <h3>生产环境运行数据监控</h3>
                        <ul>
                            <li>监控 JVM, 应用服务器, Spring beans, 缓存, 等等!</li>
                            <li>JMX 或者 Graphite 报表</li>
                        </ul>
                        <pre>
                            <code data-trim contenteditable>
@Timed
public void saveAccount(@RequestBody UserDTO userDTO) {
    userService.updateUserInformation(userDTO);
}
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>云部署</h1>
                        <h3>部署到云端!</h3>
                        <ul>
                            <li>可以容易的部署到云端</li>
                            <li>领先的云供应商，比如 Cloud Foundry, Heroku 和 Amazon Web Services 都提供了特定的工具和开发选项</li>
                        </ul>
                    </section>

                </section>

                <section>
                    <section data-background="#4d7e65" data-background-transition="slide">
                        <h1>遇见 JHipster</h1>
                        <h3>为什么一直在炒作?</h3>
                    </section>
                    <section>
                        <h3>你说我们在 <i>炒作</i>?</h3>
                        <hr/>
                        <p>在写这个ppt的时候 (2016年5月), JHipster 拥有:</p>
                        <ul>
                            <li>223 贡献者, 包括 13 个核心成员</li>
                            <li>4,210 个 GitHub 星标和 928 个 forks</li>
                            <li>220,000 安装次数</li>
                            <li>而且所有这些数据都还在快速增长</li>
                        </ul>
                        <hr/>
                        <h3>为什么?</h3>
                    </section>
                    <section>
                        <h3>我们已经接触过很多很酷的技术</h3>
                        <ul>
                            <li>Gulp 和 Maven 能集成在一起吗?</li>
                            <li>AngularJS 和 Spring MVC REST 可以做朋友吗?</li>
                            <li>Netflix OSS 和 Spring 呢?</li>
                            <li>我们可以向你 <i>保证</i> 想要把这些都稳定的集成在一起,并且可以做到安全,缓存和监控等, 并不是一件容易的事情...</li>
                        </ul>
                    </section>
                    <section>
                        <h3>JHipster 做到了把这些集成在一起</h3>
                        <ul>
                            <li>JHipster 利用所有这些技术创建了一个完整的应用</li>
                            <li>所有的东西都是开箱即用</li>
                            <li>Gulp 工作流可以很好的与 Maven 构建目标集成在一起！</li>
                            <li>同时为你配置好了 Docker 文件，让一切可以流畅的运行！</li>
                        </ul>
                    </section>
                    <section>
                        <h3>等下, 还有更多的惊喜!</h3>
                        <ul>
                            <li><strong>"entity"</strong> 子命令可以生成复杂的 JPA 实体, 从数据库到 AngularJS</li>
                            <li><strong>"import-jdl"</strong> 子命令可以用 <a href="https://jhipster.github.io/jdl-studio/" target="_blank">JDL Studio</a> 来生成复杂的实体模型</li>
                            <li><strong>"service"</strong> 子命令可以生成 Spring 与业务相关的 service 代码</li>
                            <li><strong>"languages"</strong> 子命令可以添加语言包来实现 i18n</li>
                            <li>良好的支持 Spring Security: Ajax endpoints, 安全的 remember-me, 审计...</li>
                            <li>使用 Metrics 提供强大的监控页面</li>
                        </ul>
                    </section>
                    <section>
                        <h3>还没有结束, 还有更多的惊喜!</h3>
                        <ul>
                            <li>支持创建微服务和网关</li>
                            <li>默认支持 JHipster Registry (Netflix Eureka 和 Spring cloud 配置服务器)</li>
                            <li>默认支持 JHipster Console 和 ELK (Elasticsearch + Logstash + Kibana) 监控</li>
                            <li>良好的支持 Docker</li>
                            <li>更多的 JHipster <a href="https://jhipster.github.io/modules/marketplace/" target="_blank">模块</a> 带来更多的功能</li>
                        </ul>
                    </section>
                    <section>
                        <h3>生产环境就绪</h3>
                        <ul>
                            <li>指定 Spring 环境配置文件，支持 GZip 压缩和 HTTP caching headers</li>
                            <li>用 Gulp 对 JavaScript &amp; CSS 优化和压缩</li>
                            <li>可执行程序或者标准的 WAR 文件, 带有监控功能</li>
                            <li>方便的子命令用于自动部署到 Cloud Foundry, Heroku 和 AWS</li>
                            <li><strong>"docker-compose"</strong> 子命令用于生成 Docker 配置文件来部署微服务到生产环境</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section data-background="#4d7e65" data-background-transition="slide">
                        <h1>让我们来创建第一个应用</h1>
                        <h3>10 分钟教程</h3>
                    </section>
                    <section>
                        <h1>安装 Yeoman</h1>
                        <pre>
                            <code data-trim contenteditable>
npm install -g yo
npm install -g generator-jhipster
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>创建一个应用</h1>
                        <p>并用嵌入的 Maven wrapper 来运行<br>
                            <i>(自动支持应用的热加载)</i>
                        </p>
                        <pre>
                            <code data-trim contenteditable>
yo jhipster
./mvnw
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>客户端热加载</h1>
                        <p>
                            用 Gulp 和 Browsersync 实现客户端代码(HTML, CSS, JavaScript)的热加载。 编辑你的代码，浏览器会自动刷新:
                      </p>
                        <pre>
                            <code data-trim contenteditable>
gulp
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h1>添加一个实体</h1>
                        <pre>
                            <code data-trim contenteditable>
yo jhipster:entity Foo
                            </code>
                        </pre>
                    </section>

                    <section>
                        <h1>生产环境中运行</h1>
                        <p><i>(用 Docker 来运行数据库)</i></p>
                        <pre>
                            <code data-trim contenteditable>
./mvnw -Pprod package
docker-compose -f src/main/docker/mysql.yml up -d
java -jar target/*.war --spring.profiles.active=prod
                            </code>
                        </pre>

                    </section>
                </section>

                <section>
                    <h1>谢谢关注</h1>
                    <p>
                        <a href="http://jhipster.github.io">http://jhipster.github.io</a>
                    </p>
                </section>

            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>

            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46075199-1', 'jhipster.github.io');
  ga('send', 'pageview');

        </script>

    </body>
</html>
